Makefile
/Makefile.am
Makefile.in
aclocal.m4
autom4te.cache
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.ac
configure.in
depcomp
install-sh
libtool
ltconfig
ltmain.sh
missing
mkinstalldirs
stamp-h*
*.pot
*.ami
.dep
Makefile.am.common
doc/build
doc/html
doc/elements.xml
doc/autodocs/
doc/xml/components.ent
doc/xml/examples.ent
doc/xml/images.ent
doc/xml/ay_bigfile*.xml
doc/xml/html
doc/css
doc/js
doc/*.html
src/modules/dialogs/autoinstall
src/modules/include/autoinstall
package/autoyast2-*.bz2
/.yardoc
/coverage
/test-driver
