body {
  background: white;
  color: black;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  background: transparent;
  color: #566e41;
  text-decoration: none;
  font-weight: bold;
}

a:hover	{
  background: transparent;
  color: #991e1e;
  text-decoration: underline;
  font-weight: bold;
}

img {
  border: none;
}

img.map {
  margin: 0px;
  padding: 0px;
}

p.images img {
  border: solid black 2px;
}

p.images {
  text-align: center;
}




div.qandaset table {
  margin: 1.33em 0px;
  margin-left: 40px;
  margin-right: 40px;

}


p {
  margin: 1.33em 0px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: justify;
}


div.orderedlist p {
  margin: 0em 0px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: justify;

}

div.qandaset  p {
  margin: 1.33em 0px;
  margin: 0em 0px;
  margin-left: 0px;
  margin-right: 0px;
}

li {
  margin-left: 40px;
  margin-right: 40px;
  text-align: justify;
}

td {
  padding: 5px 5px 0px 0px;
}

td.main {
  padding: 10px;
  vertical-align: top;
  width: 100%;
}

td.map {
  margin: 0px;
  padding: 0px;
}

h1 {
  background: #dce5d4;
  color: black;
  border-style: solid;
  border-color: #a9b3a1;
  border-width: 1px;
  padding: 5px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 130%;
  text-align: center;
}


h2 {
  font-weight: bold;
  clear: both;
  font-size: 115%;
  margin-left: 40px;
  margin-right: 40px;
  text-decoration: underline;
}

pre.programlisting {
  background-color: #dce5d4 ;
  border: 1px solid #006600 ;
}

pre.screen{
  background-color: #dce5d4 ;
  border: 1px solid #006600 ;
  margin: 1.33em 0px;
  margin-left: 40px;
  margin-right: 40px;
}

h3.title {
  font-weight: bold;
  clear: both;
  font-size: 105%;
}
h3 {
  font-weight: bold;
  clear: both;
  font-size: 105%;
  margin-left: 40px;
  margin-right: 40px;
}

h4.title {
  font-weight: bold;
  clear: both;
  font-size: 100%;
  margin-left: 40px;
  margin-right: 40px;
  color: black;
  text-decoration: italic;
}

div.qandaset dt {
  margin-left: 40px;
  margin-right: 40px;
  clear: both;
}


div.qandaset h3{
  color: black;
  font-weight: bold;
  clear: both;
  font-size: 105%;
  margin-left: 0px;
  margin-right: 0px;
}

td.question {
  color: #566e41;
  font-weight: bold;
  vertical-align: top;
}

tr.qandadiv {
  color: #566e41;
  font-weight: bold;
  vertical-align: top;
}
tr.question {
  color: #566e41;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
}
tr.toc {
  color: #566e41;
  font-weight: bold;
  vertical-align: top;
}

td.menu {
  background: #dce5d4;
  color: black;
  border-style: solid;
  border-color: #a9b3a1;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 1px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  white-space: nowrap;
}

table.layout {
  clear: both;
  margin: 0px;
  border: none;
  padding: 0px;
  border-collapse: collapse;
  width: 100%;
}

div.titlebar {
  background-image: url("../images/autoyast-bg.png");
  background-repeat: repeat-x;
  height: 81px;
}

div.informaltable table {
  margin: 0px;
  margin-left: 40px;
  margin-right: 40px;
  border-collapse: collapse;
}

div.informaltable table tr td, div.informaltable table tr th {
  padding: 5px;
}

img.titlebarleft {
  float: left;
}

img.titlebarright {
  float: right;
}

div.linkbar, div.navbar {
  clear: both;
  background: #dce5d4;
  color: black;
  border: solid #a9b3a1;
  border-width: 1px 0px 1px 0px;
  padding: 5px 5px 5px 5px;
  font-weight: bold;
  text-align: center;
}

span.footerleft {
  float: left;
  padding: 20px;
}

span.footerright {
  float: right;
  padding: 20px;
}

span.shrink1 {
  padding-left: 10px;
  font-size: 95%;
}

span.shrink2 {
  padding-left: 20px;
  font-size: 90%;
}

span.shrink3 {
  padding-left: 30px;
  font-size: 85%;
}

div.rss dd p {
  white-space: pre;
  border-width: 0px;
  padding: 0px;
}

div.rss img {
  border: none;
  float: right;
}

@media print {

div.navbar, div.linkbar, td.menu {
  display: none
}

td.main {
  padding-right: 0px;
  padding-left: 0px;
}

}
