[Unit]
Description=Autoyast2 Init Scripts
After=remote-fs.target network.target time-sync.target mail-transfer-agent.target hwscan.service ypbind.service YaST2-Second-Stage.service

[Service]
Type=oneshot
Environment=TERM=linux
ExecStartPre=-/usr/bin/plymouth --hide-splash
ExecStart=/usr/lib/YaST2/bin/autoyast-initscripts.sh
# AutoYaST initscripts can block user login.
# This lock will be removed here.
ExecStartPost=-/usr/bin/rm /etc/nologin
RemainAfterExit=yes
TimeoutSec=0

[Install]
WantedBy=default.target

