[Unit]
Description=Autoyast2 Init Scripts
After=remote-fs.target network-online.target time-sync.target mail-transfer-agent.target hwscan.service ypbind.service YaST2-Second-Stage.service
Before=systemd-user-sessions.service

[Service]
Type=oneshot
Environment=TERM=linux
ExecStartPre=-/usr/bin/plymouth --hide-splash
ExecStart=/usr/lib/YaST2/bin/autoyast-initscripts.sh
RemainAfterExit=yes
TimeoutSec=0

[Install]
WantedBy=default.target

