[Desktop Entry]
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Misc;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=backup

X-SuSE-YaST-Group=System
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=configure
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=backup
X-SuSE-YaST-AutoInstPath=install
X-SuSE-YaST-AutoInstSchema=backup.rnc

Icon=yast-backup
Exec=

Name=Backup Options
GenericName=Backup Autoinstallation Options
StartupNotify=true
