[Desktop Entry]
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Misc;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=files

X-SuSE-YaST-Group=Misc
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=all
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstDataType=list
X-SuSE-YaST-AutoInstSchema=files.rnc
X-SuSE-YaST-AutoInstResource=files
X-SuSE-YaST-AutoInstRequires=users,lan

Icon=yast-files
Exec=

Name=Complete Configuration Files
GenericName=Add Complete Configuration Files
StartupNotify=true
