[Desktop Entry]
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Misc;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=scripts

X-SuSE-YaST-Group=Misc
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=configure
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=scripts
X-SuSE-YaST-AutoInstSchema=scripts.rnc

Icon=yast-scripts
Exec=

Name=Custom Scripts
GenericName=Add or Edit Custom Scripts
StartupNotify=true
