[Desktop Entry]
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Misc;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=upgrade

X-SuSE-YaST-Group=System
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=write
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=upgrade
X-SuSE-YaST-AutoInstPath=install
X-SuSE-YaST-AutoInstSchema=upgrade.rnc

Icon=yast-upgrade
Exec=

Name=Upgrade Options
GenericName=Upgrade Autoinstallation Options
StartupNotify=true
